<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="rapidapi/flight" method="GET">
        <label for="country">Country</label>
        <input type="text" name="country"><br>

        <label for="currency">Currency</label>
        <input type="text" name="currency"><br>

        <label for="locale">Locale</label>
        <input type="text" name="locale"><br>

        <label for="origin">Origin</label>
        <input type="text" name="origin"><br>

        <label for="destination">Destination</label>
        <input type="text" name="destination"><br>
        
        <label for="country">Country</label>
        <input type="text" name="destination"><br>

        <label for="date">Departure Date</label>
        <input type="text" name="outbound_date"><br>

        <label for="date">Return Date</label>
        <input type="text" name="inbound_date"><br>
        
        <input type="submit" value="GOGOGO">
        
    </form>
</body>
</html>