<!DOCTYPE html>
<html lang="en">
    
    <%- include('templates/head.ejs') -%>

<body>
    <!-- NAVBAR START-->
    
    <%- include('templates/navbar.ejs') -%>
    
    <!-- NAVBAR END-->
    
    <!--SIGN IN FORM START-->

    <div class="container mt-5 mb-4" id="selection_container">
        <div class="row">
            <div class="col-6 offset-4 mb-2 mt-3">
                <h3>Sign In!</h3>
            </div>
        </div>
        <form action="user/signin" method="POST">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" name="email" class="form-control" placeholder="test@gmail.com"><br>
            </div>
            <div class="form-group mt-n2">
                <label for="password">Password:</label>
                <input type="password" class="form-control" name="password" placeholder="********"><br>
            </div>
            <button type="submit" class="offset-4 mb-3" id="register_button">Register</button>
        </form>
        <div class="row">
            <div class="col-12 mb-2">
                <a href="/registration">No account yet?</a>
            </div>
            <div class="col-12 mb-4">
                <a href="/">Already logged in?</a>
            </div>
        </div>
    </div>

    <!--SIGN IN FORM END-->

    <!--FOOTER START-->

    <%- include('templates/footer.ejs') -%>

    <!--FOOTER END-->
</body>
</html>